= render "shared/header", :title => 'Vouchers'

= form_tag vouchers_url + '/search', :method => "post", :html => { :class => 'well form-search' } do
  .row
    .offset1.span12
      = text_field_tag 'search_query', nil, :class => "search-query"
      = submit_tag 'Search', :class => "btn"  
  .row{ :style => "margin-top: 15px;" }
    .offset1.span4
      - if flash.alert
        .alert.alert-error
          = flash.alert
      - if flash.notice
        .alert.alert-info
          = flash.notice
