= render "shared/header", :title => 'Marcar como utilizado'

- model_class = VoucherReport.new.class

.row
  .offset1.span12
    = form_for @voucher_report, :url => '/vouchers/save_report', :html => { :class => 'form-horizontal' } do |f|
      - if @voucher_report_submitted && @voucher_report_submitted.errors.any?
        .alert.alert-error
          %h2 Form is invalid
          %ul
            - for message in @voucher_report_submitted.errors.full_messages
              %li= message
      -#= f.hidden_field :voucher_id, @voucher[0].id
      = hidden_field_tag 'search_query', params[:search_query]
      = hidden_field_tag 'voucher_report[voucher_id]', @voucher[0].id
      .control-group
        = f.label "Voucher", :class => 'control-label'
        .controls
          %b= @voucher[0].voucher
      .control-group
        = f.label "Valor do Voucher", :class => 'control-label'
        .controls
          %b= @voucher[0].batch.value
      .control-group
        = f.label :salesclerk, :class => 'control-label'
        .controls
          = f.text_field :salesclerk, :class => 'text_field'
      .control-group
        = f.label :total, :class => 'control-label'
        .controls
          = f.text_field :total, :class => 'text_field span1'
      .control-group
        = f.label :gender_id, :class => 'control-label'
        .controls
          = collection_select(:voucher_report, :gender_id, Gender.all, :id, :description, :prompt => true)
      .control-group
        = f.label :age, :class => 'control-label'
        .controls
          = f.text_field :age, :class => 'text_field span1'
      .form-actions
        = f.submit 'Mark Voucher as Used', :confirm => 'Are you sure?', :class => 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), batches_path, :class => 'btn'
