= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  - if @user.errors.any?
    .alert.alert-error
      %h2 Dados incorretos
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .control-group
    = f.label "Nome", :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label "Email", :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label "Senha", :class => 'control-label'
    .controls
      = f.password_field :password, :class => 'text_field'
  .control-group
    = f.label "Confirmação da senha", :class => 'control-label'
    .controls
      = f.password_field :password_confirmation, :class => 'text_field'
  .control-group
    = f.label "Empresa", :class => 'control-label'
    .controls
      = collection_select(:user, :company_id, Company.all, :id, :name, :prompt => "Selecione uma opção")
  .form-actions
    - if params[:action] == 'edit'    
      = f.submit "Salvar Usuário", :class => 'btn btn-primary'
    - else
      = f.submit "Criar Usuário", :class => 'btn btn-primary'
    = link_to "Cancelar", users_path, :class => 'btn'
