= form_for @company, :html => { :class => 'form-horizontal' } do |f|
  - if @company.errors.any?
    .alert.alert-error
      %h2 Form is invalid
      %ul
        - for message in @company.errors.full_messages
          %li= message
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), companies_path, :class => 'btn'
