= render "shared/header", :title => 'Empresas'

- model_class = Company.new.class

.row
  .offset1.span12
    %table.table.table-striped
      %thead
        %tr
          %th= "Nome"
          %th= "Ações"
      %tbody
        - @companies.each do |company|
          %tr
            %td= company.name
            %td
              = link_to "Editar", edit_company_path(company), :class => 'btn btn-mini'
              = link_to "Remover", company_path(company), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')), :class => 'btn btn-mini btn-danger'

    = link_to "Nova", new_company_path, :class => 'btn btn-primary'
 