- model_class = @batch.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @batch.name
%p
  %strong= model_class.human_attribute_name(:company_id) + ':'
  %br
  = @batch.company_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), batches_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_batch_path(@batch), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), batch_path(@batch), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
