= render "shared/header", :title => 'Lote'

- model_class = @batch.class

.row
  .offset1.span12
    %p
      %strong Nome:
      = @batch.name
    %p
      %strong Campanha:
      = Campaign.find_by_id(@batch.campaign_id).name
    %p
      %strong Tipo do Voucher: 
      = VoucherType.find_by_id(@batch.voucher_type_id).description
    %p
      %strong Quantidade: 
      = @batch.quantity
    %p
      %strong Valor: 
      = number_to_currency(@batch.value, :unit => "R$")
    %p
      %strong Data de expiração: 
      = @batch.expiration
    %p
      %strong Data:
      = @batch.created_at
    %p
      = link_to 'Download do CSV', batches_path + '/download/' + @batch.id.to_s, :class => 'btn btn-primary'

    %table.table.table-striped
      %thead
        %tr
          %th= "Número"
          %th= "Voucher"
          %th= "Status"
      %tbody
        - vouchers = Voucher.find_all_by_batch_id(@batch.id)
        - i = 0
        - vouchers.each do |v|
          %tr
            %td= i += 1
            %td= v.voucher
            %td
              - case v.status.id
                - when 1
                  %span.label.label-success= v.status.description
                - when 2
                  %span.label.label-important= v.status.description

          
    = link_to "Voltar", batches_path + '/campaign/' + @batch.campaign_id.to_s, :class => 'btn'
