= render "shared/header", :title => 'Batch'

- model_class = @batch.class

.row
  .offset1.span12
    %p
      %strong= model_class.human_attribute_name(:name) + ':'
      = @batch.name
    %p
      %strong= model_class.human_attribute_name(:company_id) + ':'
      = Company.find_by_id(@batch.company_id).name
    %p
      %strong= model_class.human_attribute_name(:created_at) + ':'
      = @batch.created_at
    %p
      = link_to 'Download CSV', '#'

    %table.table.table-striped
      %thead
        %tr
          %th= "Voucher"
          %th= "Status"
      %tbody
        - vouchers = Voucher.find_all_by_batch_id(@batch.id)
        - vouchers.each do |v|
          %tr
            %td= v.voucher
            %td= v.status_id
          
    = link_to t('.back', :default => t("helpers.links.back")), batches_path, :class => 'btn'