= render "shared/header", :title => 'Batch'

- model_class = @batch.class

.row
  .offset1.span12
    %p
      %strong= model_class.human_attribute_name(:name) + ':'
      = @batch.name
    %p
      %strong= model_class.human_attribute_name(:company_id) + ':'
      = Company.find_by_id(@batch.company_id).name
    %p
      %strong= model_class.human_attribute_name(:voucher_type_id) + ':'
      = VoucherType.find_by_id(@batch.voucher_type_id).description
    %p
      %strong= model_class.human_attribute_name(:quantity) + ':'
      = @batch.quantity
    %p
      %strong= model_class.human_attribute_name(:value) + ':'
      = @batch.value
    %p
      %strong= model_class.human_attribute_name(:expiration) + ':'
      = @batch.expiration
    %p
      %strong= model_class.human_attribute_name(:created_at) + ':'
      = @batch.created_at
    %p
      = link_to 'Download CSV', batches_path + '/download/' + @batch.id.to_s

    %table.table.table-striped
      %thead
        %tr
          %th= "Id"
          %th= "Voucher"
          %th= "Status"
      %tbody
        - vouchers = Voucher.find_all_by_batch_id(@batch.id)
        - i = 0
        - vouchers.each do |v|
          %tr
            %td= i += 1
            %td= v.voucher
            %td= Status.find_by_id(v.status_id).description
          
    = link_to t('.back', :default => t("helpers.links.back")), batches_path, :class => 'btn'
