= render "shared/header", :title => 'Lote'

- model_class = @batch.class

.row
  .offset1.span12
    %p
      %strong Nome:
      = @batch.name
    %p
      %strong Empresa:
      = Company.find_by_id(@batch.company_id).name
    %p
      %strong Tipo do Voucher: 
      = VoucherType.find_by_id(@batch.voucher_type_id).description
    %p
      %strong Quantidade: 
      = @batch.quantity
    %p
      %strong Valor: 
      = number_to_currency(@batch.value, :unit => "R$")
    %p
      %strong Data de expiração: 
      = @batch.expiration
    %p
      %strong Data:
      = @batch.created_at
    %p
      = link_to 'Download do CSV', batches_path + '/download/' + @batch.id.to_s

    %table.table.table-striped
      %thead
        %tr
          %th= "Número"
          %th= "Voucher"
          %th= "Status"
      %tbody
        - vouchers = Voucher.find_all_by_batch_id(@batch.id)
        - i = 0
        - vouchers.each do |v|
          %tr
            %td= i += 1
            %td= v.voucher
            %td= v.status.description #Status.find_by_id(v.status_id).description
          
    = link_to "Voltar", batches_path, :class => 'btn'
