= form_for @campaign, :html => { :class => 'form-horizontal' } do |f|
  - if @campaign.errors.any?
    .alert.alert-error
      %h2 Dados incorretos
      %ul
        - for message in @campaign.errors.full_messages
          %li= message
  .control-group
    = f.label "Empresa", :class => 'control-label'
    .controls
      = collection_select(:campaign, :company_id, Company.all, :id, :name, :prompt => "Selecione uma opção")
  .control-group
    = f.label "Campanha", :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label "Ativa?", :class => 'control-label'
    .controls
      = f.check_box :is_active, :class => 'check_box'
  .form-actions
    - if params[:action] == 'edit'
      = f.submit "Salvar Campanha", :class => 'btn btn-primary'
    - else 
      = f.submit "Criar Campanha", :class => 'btn btn-primary'     
    = link_to "Cancelar", campaigns_path, :class => 'btn'
