= render "shared/header", :title => 'Campanhas'

- model_class = Campaign.new.class

.row
  .offset1.span12
    %table.table.table-striped
      %thead
        %tr
          %th= "Campanha"
          %th= "Empresa"
          %th= "Ativa?"
          %th= "Data de criação"
          %th= "Ações"
      %tbody
        - @campaigns.each do |campaign|
          %tr
            %td= campaign.name
            %td= Company.find_by_id(campaign.company_id).name
            %td= campaign.is_active ? "Sim" : "Não"
            %td= campaign.created_at
            %td
              = link_to "Lotes", '/batches/campaign/' + campaign.id.to_s, :class => 'btn btn-mini'
              = link_to "Relatórios", '/batches/campaign/' + campaign.id.to_s + '/reports', :class => 'btn btn-mini'
              = link_to "Editar", edit_campaign_path(campaign), :class => 'btn btn-mini'
              = link_to "Remover", campaign_path(campaign), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')), :class => 'btn btn-mini btn-danger'
     
    = link_to "Novo", new_campaign_path, :class => 'btn btn-primary'
