- model_class = Voucher.new.class
%h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:voucher)
      %th= model_class.human_attribute_name(:status_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @vouchers.each do |voucher|
      %tr
        %td= link_to voucher.id, voucher_path(voucher)
        %td= voucher.voucher
        %td= voucher.status_id
        %td=l voucher.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_voucher_path(voucher), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), voucher_path(voucher), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_voucher_path, :class => 'btn btn-primary'
